<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - HackWindsWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>HackWinds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HackWindsDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HackWindsDataKitOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>HackWindsDataKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HackWindsDataKitWatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>HackWindsTodayOSXWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>HackWindsTodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>HackWindsWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3430838519795D0F00655F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343083AC19795D0F00655F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347478251C32190E00FD4BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349076221C24A7E500EAD0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349076501C24AA4700EAD0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349076591C24AA4700EAD0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3490766C1C24AA8800EAD0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34C0AF4B1B7307E8001D2B04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E1BA281B62D84700CDA01D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E1BA321B62D84700CDA01D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
