<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Narragansett Town Beach</key>
	<string>http://magicseaweed.com/api/nFSL2f845QOAf1Tuv7Pf5Pd9PXa5sVTS/forecast/?spot_id=1103&amp;fields=localTimestamp,swell.*,wind.*</string>
	<key>Point Judith Lighthouse</key>
	<string>http://magicseaweed.com/api/nFSL2f845QOAf1Tuv7Pf5Pd9PXa5sVTS/forecast/?spot_id=376&amp;fields=localTimestamp,swell.*,wind.*</string>
	<key>Matunuck</key>
	<string>http://magicseaweed.com/api/nFSL2f845QOAf1Tuv7Pf5Pd9PXa5sVTS/forecast/?spot_id=377&amp;fields=localTimestamp,swell.*,wind.*</string>
	<key>Second Beach</key>
	<string>http://magicseaweed.com/api/nFSL2f845QOAf1Tuv7Pf5Pd9PXa5sVTS/forecast/?spot_id=846&amp;fields=localTimestamp,swell.*,wind.*</string>
</dict>
</plist>
