<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CamAutoReload</key>
	<true/>
	<key>ForecastLocation</key>
	<string>Narragansett Town Beach</string>
	<key>BuoyLocation</key>
	<string>Block Island</string>
	<key>DefaultBuoyLocation</key>
	<string>Block Island</string>
	<key>NeedCameraLocationFetch</key>
	<true/>
	<key>ChartAnimationSpeed</key>
	<real>1</real>
	<key>ManualChartControl</key>
	<false/>
	<key>ShowPremiumContent</key>
	<false/>
	<key>LoggedIn</key>
	<false/>
</dict>
</plist>
